body {
padding: 0;
margin: 0;
/* background-color:white;
background-image: radial-gradient(midnightblue 9px, transparent 10px),
repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
background-size: 30px 30px,
90px 90px;
background-position: 0 0; */
}



#inputMe,
#outputMe {
margin-top: 15px;
width: 200px;
height: 15px;
text-align: center;
border: 1px solid black;
}

.main_container {
    width: 100%;
    height: 100%;
}

.container {
    /* width: 40%;
    height: 25%;
    background-color: antiquewhite;
    box-shadow: 0 0 0 0 0.6; */
}